exportPattern("^[[:alpha:]]+")
exportMethods(
    "calcBoundaries",
    "curtailDesign",
    "getProbabilities",
    "plotBoundaries",
    "print",
    "summary",
    "setAlphaspendfString",
    "setBaseAlphaspendf",
    "setBaseBetaspendf",
    "setBetaspendfString",
    "setCurrentLook",
    "setDatestamp",
    "setNoncentrality",
    "setTimes",
    "updateDesign"
)
importFrom("graphics", "axis", "legend", "matplot")
importFrom("methods", "new")
importFrom("stats", "pnorm", "qnorm", "uniroot")
exportClasses(
    "sequential.design"
)

